<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Gestión de datos</title>
	<link rel="stylesheet" th:href="@{../css/estilos.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<header th:replace="~{layouts/header :: header}"></header>	
<h1 class="text-center"> ¿Es usted un administrador y desea gestionar datos?</h1>
<h2 class="text-center">Ingrese su id:</h2>
		<form th:action="@{/gestion/admin}" method="post">
				
					  <div class="form-group mb-3">
            			<label for="id">Codigo de Usuario</label>
            			<input type="text" class="form-control" name="id" id="id" placeholder="Ingrese su codigo de usuario" required>
          			</div>
					<p th:if="${mensaje}" th:text="${mensaje}"></p>
					<div class="form-group mb-3">
					<input type="submit" class="2 btn" style="background-color: #45BFA9; color: white; outline: none;"
						value='Acceder'>
					</div>
		</form>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>

</html>