<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>Gestión de datos</title>
<link rel="stylesheet" th:href="@{../css/estilos.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
		<!-- Tabla de registros y modificaciones posibles -->
		<h1>Tabla de Registros</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Nacimiento</th>
					<th>Teléfono</th>
					<th>Sexo</th>
					<th>Estatura</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="Regis : ${registros}">

					<td th:text="${Regis.id}"></td>

					<td th:text="${Regis.nombre}"></td>

					<td th:text="${Regis.apellido}"></td>

					<td th:text="${Regis.email}"></td>

					<td th:text="${Regis.nacimiento}"></td>

					<td th:text="${Regis.telefono}"></td>

					<td th:text="${Regis.sexo}"></td>

					<td th:text="${Regis.estatura}"></td>

					<td class="custom-button"><a class="cons_button"
						th:href="@{/registrarse/modificar/}+${Regis.id}">Editar</a> <a
						class="cons_button"
						th:href="@{/registrarse/eliminar/}+${Regis.id}">Eliminar</a></td>

				</tr>
			</tbody>
		</table>
		<!-- Tabla de IMC y modificaciones posibles -->
		<h2>Tabla de IMC</h2>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>IMC</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="imc : ${IMCs}">
					<td th:text="${imc.imc}"></td>
					<td th:text="${imc.fecha}"></td>
					<td><a class="cons_button"
						th:href="@{/calcularIMC/eliminar/}+${imc.id}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>

		<!-- Tabla de recetas y modificaciones posibles -->
		<h2>Tabla de Recetas</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Categoria</th>
					<th>Preparacion</th>
					<th>Descripcion Corta</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="receta : ${recetas}">
					<td th:text="${receta.nombre}"></td>
					<td th:text="${receta.categoria}"></td>
					<td th:text="${receta.preparacion}"></td>
					<td th:text="${receta.descripcion}"></td>
					<td><a class="btn btn-light"
						th:href="@{/recetas/modificar/}+${receta.id}">Editar</a> <a
						class="btn btn-dark" th:href="@{/recetas/eliminar/}+${receta.id}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/recetas/nuevo}" class="btn btn-primary col-md-1">Agregar
			receta</a>

		<!-- Tabla de ingredientes y modificaciones posibles -->
		<h2>Tabla de ingredientes</h2>
		<div class="container justify-content-center">
			<table class="table table-striped">
				<tr>
					<th>Ingrediente</th>
				</tr>
				<tr th:each="ingr: ${ingredientes}">
					<td th:text="${ingr.nombre}"></td>
					<td><a
						th:href="@{/recetas/ingredientes/modificar/}+${ingr.id}">Editar</a>
						<a class="cons_button"
						th:href="@{/recetas/ingredientes/eliminar/}+${ingr.id}">Eliminar</a></td>
				</tr>
			</table>
			<a th:href="@{/recetas/ingredientes/nuevo}"
				class="btn btn-primary col-md-1">Agregar Ingrediente</a><br>
		</div>
		<!-- Tabla de testimonios y modificaciones posibles -->
		<h2>Tabla de testimonios</h2>
		<table class="table table-striped">
			<tr>
				<th>Autor</th>
				<th>Fecha</th>
				<th>Comentario</th>
			</tr>
			<tr th:each="test: ${testimonios}">
				<td
					th:text="${test.usuario.nombre} + ' ' + ${test.usuario.apellido}"></td>
				<td th:text="${test.fecha}"></td>
				<td th:text="${test.comentario}"></td>
				<td class="btn "><a
					th:href="@{/testimonios/eliminar/} + ${test.id}">Eliminar</a></td>
			</tr>
		</table>
	</div>
</body>
</html>