<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de ingredientes</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
</head>
<body>
	
		<div class="row">
			<div></div>
			<div class="container px-4 ">
				<div class="d-grid gap-2">	
					<div class="col-5"></div>
					
					<a th:href="@{/recetas}" class="btn btn-danger pd-3 col-2 ">Volver</a>
					<div class="col-5"></div>
				</div>	
			</div>	
			
		</div>	
					<div class="table-responsive-sm mb-3">
								
								<div class="container justify-content-center">
									<table class="table table-striped">
										<tr>
											<th>Ingrediente</th>
											
										</tr>
										<tr th:each="ingr: ${ingredientes}">
											<td class="th"><a th:text="${ingr.nombre}"> </a></td>

										</tr>
									</table>
								</div>
							</div>
								<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>