<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nueva Receta</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
</head>
<body>
	<div class="card">
		<h1 th:text="${edicion}?'Modificar Receta' : 'Nueva Receta'"
			class="text-center card-title"></h1>

		<form th:action="${edicion}?@{/recetas/modificar}:@{/recetas/guardar}"
			th:object="${receta}" method="POST" id="nuevareceta"
			enctype="multipart/form-data">

			<div class="text-center">
				<input type="number" value=${id} name="receta_id" class="d-none" th:field="*{id}">
				<label for="nombre" class="form-label">Nombre</label><br> <input
					type="text" id="nombre" name="receta_nombre" th:field="*{nombre}"
					placeholder="Escriba un nombre de receta" class="col-form-label">
				<br>
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}"
					th:errors="*{nombre}"></div>
				<br><label for="categoria">Categoria</label><br> <select
						id="categoria" name="receta_categoria" th:field="*{categoria}" placeholder="Seleccione una categoría">
						<option th:each="categoria : ${categorias}"
							th:value="${categoria}" th:text="${categoria}"></option>
					</select> <br>
					<div class="flex-row">
				<div class="text-danger" th:if="${#fields.hasErrors('categoria')}"
					th:errors="*{categoria}"></div>
				<div class="form-group-row">
				<label for="ingredientes" class="form-label">Ingrediente/s</label>
				<th:block th:each="ingrediente : ${listaIngredientes}">
				<div class="col-sm-8 mx-auto text-left">
				<input type="checkbox" name="ingredientes" th:field="*{ingredientes}" th:text="${ingrediente.nombre}" th:value="${ingrediente.id}" class="m-2 form-check-input" >
				</div>
				</th:block>
				</div>
				<div>
				<div><a th:href="@{/recetas/ingredientes/nuevo}" class="btn btn-secondary text-right fs-6 fw-lighter">Agregar nuevo ingrediente</a></div>
				 </div>
				 </div>
				<br> <label for="preparacion" class="form-label">Preparación</label><br>
				<textarea class="form-control-md" rows="3" cols="100"
					id="preparacion" name="receta_preparacion"
					th:field="*{preparacion}"
					placeholder="Escriba aqui la preparación completa"></textarea>
				<br>
				<div class="text-danger" th:if="${#fields.hasErrors('preparacion')}"
					th:errors="*{preparacion}"></div>
				<br> <label for="descripcion" class="form-label">Descripción
					corta</label><br>
				<textarea id="descripcion" name="receta_descripcion"
					th:field="*{descripcion}"
					placeholder="Describa brevemente su receta" class="form-control-md"
					cols="50"></textarea>
				<br>
				<div class="text-danger" th:if="${#fields.hasErrors('descripcion')}"
					th:errors="*{descripcion}"></div>
				<br> <label for="imagen" class="form-label">Imagen</label><br>
				<input type="file" name="file" id="file" class="form-control-file"
					required><br>
				<div class="text-danger" th:if="${#fields.hasErrors('imagen')}"
					th:errors="*{imagen}"></div>
				<br>
				<br>


				<p class="text-left">
					<input type="submit" class="btn btn-outline-success btn-lg"
						value='Guardar'>
				</p>
				<a th:href="@{/recetas}" class="btn btn-outline-danger">Cancelar</a>
			</div>

		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>