<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registrese</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="row">
        <header th:replace="~{layouts/header :: header}"></header>
    </div>
    
    <div id="contenido_registro" class="container">
    	<div th:if="${nombreRegistrado != null && apellidoRegistrado != null && idRegistrado != null}" class="alert alert-success">
        ¡Felicitaciones! ¡El registro de <span th:text="${nombreRegistrado}"></span> <span th:text="${apellidoRegistrado}"></span> se ha guardado exitosamente con el ID <span th:text="${idRegistrado}"></span>!
    	</div>
    	
        <h1>Tabla de Registrados</h1>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                	<th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>                    
                    <th>Nacimiento</th>
                    <th>Teléfono</th>
                    <th>Sexo</th>
                    <th>Estatura</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se mostrarán los datos del formulario -->
                <tr th:each="Regis : ${registro}">
					
					<td th:text="${Regis.id}"></td>        
					
                    <td th:text="${Regis.nombre}"></td>                 

                    <td th:text="${Regis.apellido}"></td>

                    <td th:text="${Regis.email}"></td>                    

                    <td th:text="${Regis.nacimiento}"></td>

                    <td th:text="${Regis.telefono}"></td>

                    <td th:text="${Regis.sexo}"></td>

                    <td th:text="${Regis.estatura}"></td>

                    <td class="custom-button">
                        <a class="btn btn-success rounded-pill px-3" th:href="@{/registrarse/modificar/}+${Regis.id}">Editar</a>
                        <a class="btn btn-danger rounded-pill px-3" th:href="@{/registrarse/eliminar/}+${Regis.id}">Eliminar</a>
                    </td>

                </tr>
            </tbody>
        </table>
        </div>
    </div>
		<div class="row">
        	<footer th:replace="~{layouts/footer :: footer}"></footer>
    	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</html>
